@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Caveat';
  font-weight: 700;
  src: url('../public/font/Caveat.ttf') format('opentype');
}

@font-face {
  font-family: 'Lexend';
  font-weight: 400;
  src: url('../public/font/Lexend.ttf') format('opentype');
}

@font-face {
  font-family: 'Lexend';
  font-weight: 500;
  src: url('../public/font/Lexend.ttf') format('opentype');
}

@font-face {
  font-family: 'Lexend';
  font-weight: 600;
  src: url('../public/font/Lexend.ttf') format('opentype');
}

@font-face {
  font-family: 'Lexend';
  font-weight: 700;
  src: url('../public/font/Lexend.ttf') format('opentype');
}

@font-face {
  font-family: 'Lexend';
  font-weight: 800;
  src: url('../public/font/Lexend.ttf') format('opentype');
}

@font-face {
  font-family: 'Lexend';
  font-weight: 900;
  src: url('../public/font/Lexend.ttf') format('opentype');
}

/* global font */
html,
body {
  font-family: 'Lexend', 'sans-serif';
}